*{
    margin: 0;
    padding: 0; 
}
body{
background:url(natural.jpg) ;
font-family:arial;	
  background-size: cover;
}

nav{	
width:100%;
height:80px;	
border-bottom:1px solid rgba(255,255,255,0.8);
}
ul{
float:right;
list-style-type:none;	
margin-top:25px;	
}
ul li{
display:inline-block;
}
ul li a{
text-decoration:none;
color:#fff;
padding: 5px 20px;
border:1px solid transparent;	
transition:0.6s ease;
}
ul li a:hover{
background-color:#fff;
color:#000;		
}
ul li.active a{
background-color:#fff;
color:#000;				
}
.logo img{
float:left;
width:100px;
height:80px;
}
.form_container{
max-width:400px;
width:100%;
margin:100 auto;
box-shadow:2px 2px 5px 1px rgba(0,0,0,0.2);	
}
.form_inner{
padding:30px;	
	
}
h1{
font-weight:normal;
padding:20px;
color:#fff;
text-align:center;	
box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);		
}
.input_holder{
position:relative;
margin-bottom:25px;	
}
.input-text,textarea {
width:100%;
height:40px;
border:none;
border-bottom:1px solid #fff;
background:transparent;
color:#fff;	
}
textarea {
min-height:160px;
padding:15px 0;	
}
.label{	

transition:.2px ease all;
font-size:16px;	
color:#fff;
top:30px;
}
button{
cursor:pointer;
border-radius:3px;
padding:15px;
width:100%;	
box-shadow:0 3px 6px 0 rgba(0,0,0,0.1);
border:none;
font-size:19px;
background:transparent;
color:#fff;
transition:.2px ease;

}
button hover{
box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);	
}
button:focus{
	outline:0;
}
input:focus,textarea{
	outline:0;
	border-bottom:2px solid #fff;
	
}
input:focus ~.label,textarea:focus ~.label,input:not(:focus ):valid ~.label,textarea:not(:focus ):valid ~.label
{
	top:-10px;
	left:0;
	font-size:11px;
	
}